.select-box
  position relative
  select.ui.dropdown
    height 45px
    border-radius 0
    -webkit-appearance none
    -webkit-border-radius 0
    &.placeholder
      color #999999
  .icons
    position absolute
    box-sizing border-box
    right 0
    top 0
    width 35px
    height 100%
    line-height 45px
    text-align center
  &.errors
    outline 1px solid red
