.essential-icon
  position absolute
  right 0
  top 50%
  height fieldHeight
  width fieldHeight
  &.error
    path
      fill red
  &.check
    path
      fill green
  &.optional
    path
      fill blue
