.field
  .ui.input
    input.field-component
      line-height inputHeight
      border-radius 0
      &:focus
        border-radius 0
    &.error
      input
        outline 1px solid red
  .secondary-error
    color red