.essential-field
  position relative
  width 100%
  .essential-input-group
    position relative
    input
      position relative
      width 100%
      height fieldHeight
      line-height fieldHeight
    &.error
      input
        outline 1px solid red
  .secondary-error
    color red